@charset "UTF-8";

* {
            margin: 0;
            padding: 0;
        }

        ::-webkit-scrollbar {
            height: 0px;
            width: 0px;
        }

        img {
            width: 100%;
        }

        a:hover {
            background-color: red;
        }

        a {
            display: block;
            background-color: darkred;
            padding: 20px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            color: white;
        }