@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    
}

body {
    background-image: url(../assets/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 311px;
    height: 627px;
    background: url('../assets/imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais {

}

section#redes-sociais img {
    display: flex;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

section#redes-sociais img:hover {
    border: 2px solid rgb(255, 255, 255, 0.637);
    transform: translate(3px, 3px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.400);
    transition: transform 0.5s, border 0.7s;
}