@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
}

body {
    background-image: url(../assets/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 311px;
    height: 627px;
    background: url('../assets/imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}